.navbar {

	&-wahi {
		    background-color: $brand-secondary;
			border-color: $body-bg;
	}

	&-nav {
		li > a {
			color: $body-bg;
		}
	}
}

.content {
	color: white;

	&__detailview {
		background: white;
		padding: 10px;
		color: $text-color;

		&-map {
			width: 100%;
			height: 450px;
		}

		&-info {
			padding: 20px;

			p {
				padding: 3px 5px;
			}
		}
	}
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: transparent;
}

.table-striped > tbody > tr:nth-of-type(even) {
	background-color: lighten($body-bg,3%);
}

.table > tbody > tr > td {
	border: 0;
}

